{{ define "main" }}
  {{ $paginator := .Paginate ( where .Site.RegularPages.ByWeight.Reverse "Section" "released" ) }}

  {{ if eq $paginator.PageNumber 1 }}
    <article class="content content-experimantal">
      <h1>
        Upcoming changes
      </h1>
      {{ $experimentalPages := where .Site.RegularPages.ByWeight "Section" "experimental" }}
      {{ if $experimentalPages }}
        {{ range $experimentalPages }}
          {{ .Content }}
        {{ end }}
      {{ end }}
    </article>
  {{ end }}

  <article class="content content-released">
    {{ range $paginator.Pages }}
      <hr>
      <h1>
        {{ .Params.Version }} {{ .Title }}
      </h1>
      <small>{{ .Params.Subtitle }}</small>
      {{ .Content }}
    {{ end }}
  </article>

  <nav>
    {{ partial "pagination.html" . }}
  </nav>
{{ end }}
