{{ define "main" }}
  {{ $paginator := .Paginate ( where .Site.RegularPages.ByWeight.Reverse "Section" "released" ) }}

  {{ if eq $paginator.PageNumber 1 }}
    <div class="content-experimantal">
      {{ $experimentalPages := where .Site.RegularPages "Section" "experimental" }}
      {{ if $experimentalPages }}
        {{ range $experimentalPages }}
          {{ .Content }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  {{ range $paginator.Pages }}
    <h4>
      {{ .Params.Version }} {{ .Title }}
    </h4>
    <small>{{ .Params.Subtitle }}</small>
    {{ .Content }}
  {{ end }}

  <nav>
    {{ partial "pagination.html" . }}
  </nav>

{{ end }}
